/*Inicio Header*/
header { 
    display: flex;
    background-image: linear-gradient($color-acccollapsed,$color-bgmain);
    width: 100%;
}
.pIndex{
    color:$color-tipografia ;
    font-size: 18px;
    padding-top: 0px;
    text-decoration:none;
}
   
.imagenLogo{
    display: flex;
    justify-content: left;
    width: 200px;
    height: 150px;
    margin-left: 30px;
    margin-top: 10px;
    animation: fadein 3s;
}
@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}
.imagenLogo:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}
.contenedorNavbar{
    display: flex;
    float: right;
}
.boton{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 100px;
    display: inline-block;
    color: #3d3c3c;
    justify-content: end;
    background-color: $color-bgbotonesnav;
    text-decoration:none;
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
   /*Transformaciones*/
    transition: 0.7s ease-out;
}
.boton:hover{
    background-color: rgb(139, 86, 192);
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

/*Responsive Header*/
@media only screen and (max-width: 320px) {
    
    .ul1{
        display: grid;
    }
    .imagenLogo{
     display: flex;
     justify-content: left;
     width: 75px;
     height: 50px;
     margin-left: 5px;
     margin-top: 5px;
    }
    button.navbar-toggler{
    width: auto!important;
    }
}
@media only screen and (max-width: 375px) {
    
    .ul1 {
           display: grid;
    }
    .imagenLogo{
        display: flex;
        justify-content: left;
        width: 85px;
        height: 60px;
        margin-left: 10px;
        margin-top: 10px;
    }
    button.navbar-toggler{
       width: auto!important;
    }
}
@media only screen and (max-width: 425px) {
    
    .ul1 {
           display: grid;
    }
    .imagenLogo{
        display: flex;
        justify-content: left;
        width: 100px;
        height: 75px;
        margin-left: 15px;
        margin-top: 15px;
    }
    button.navbar-toggler{
       width: auto!important;
    }
}
@media only screen and ( max-width :768px) {
    
    .imagenLogo{
        display: flex;
        justify-content: left;
        width: 150px;
        height: 125px;
        margin-left: 20px;
        margin-top: 20px;
    }
    button.navbar-toggler{
       width: auto!important;
    }
   
}
@media only screen and (max-width:1024px) {
    .ul1 {
        display: grid;
    }
}

/*Fin header*/