/*Inicio Main*/
main { 
    background-color:$color-bgmain;
    background-position: center;
    background-size: contain; 
    padding-bottom: 15px;
    font-weight: bold;
    width: 100%;
    @media only screen and (max-width: 320px){
        display: flex;
        flex-wrap: wrap;
    }
    section{
        flex-direction: raw;
        p  {
            width: 100%;
        }
    }
    h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        color:$color-letraprimario;
        text-shadow: 2px 2px $color-precios;
        text-align: center;
        font-size: 60px;
        border-width: 3px;
        margin-bottom: 50px;
        margin-left: 15px;
        @media only screen and (max-width: 320px){
            font-size: 30px;
        }
    }
    h3 { text-decoration: underline;
        font-size: nth($font-size,5);
    } 
}
/*Responsive*/


@media only screen and (max-width: 375px) {
    .asanas {
        grid-template-columns: 1fr 1fr;
        display: grid;
      }
      .imgSection {
        height: 200px;
        width: 200px;
        display: block;
        margin: auto;
      }
      .imgPosturas{
        height: 200px;
        width: auto;
      }
}
@media only screen and (max-width: 425px) {
    /* main{
        width: 85%;
    } */
    h1{
        font-size: 45px;
    }
}

@media only screen and (max-width: 768px){
/*     main{
        width: 111vh;
    } */
}