$color-letraprimario: #d83a56;
$color-bordercolumn:rgb(251, 151, 151);
$color-precios:#fd9a6f;
$color-bgprimario: rgb(250, 204, 222);
$color-boxshadow:rgb(241, 182, 182);
$color-bgbotonesnav: #fad6ee;
$color-bgmain: rgb(252, 238, 243);  /*#fcf3ca;*/
$color-columna:beige;
$color-bgfaq: antiquewhite;
$color-acccollapsed: #c0bdaf;
$color-hover: slateblue;
$color-tipografia: #3d3c3c;
$color-tipogclases:#333;
$color-contactotipog:black;


$fuentes: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;